In [1]:
#Import dependencies

import pandas as pd
import matplotlib.pyplot as plt
import gmaps
import requests

#import the API key
from config import g_key

In [2]:
#store the CSV saved and created in part 1 into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Busselton,AU,2022-04-13 18:06:33,-33.6500,115.3333,54.03,86,0,9.17
1,1,Itoman,JP,2022-04-13 18:06:33,26.1247,127.6694,73.42,78,11,5.75
2,2,Bluff,NZ,2022-04-13 18:06:34,-46.6000,168.3333,45.81,82,83,12.64
3,3,East London,ZA,2022-04-13 18:06:34,-33.0153,27.9116,70.90,82,1,3.74
4,4,Atuona,PF,2022-04-13 18:06:34,-9.8000,-139.0333,78.40,80,44,18.21

In [3]:
#data must be int or float to use gmaps -- check data types
#get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#configure gmaps to use API key(only have to do once)
#congig gmaps to use my google API key
gmaps.configure(api_key=g_key)

In [5]:
# #General Syntax for creating heat maps

# #1. Assign the locations to an array of lat and longitude pairs
#     #can get from a dataframe just do df[["x","y"]]
# locations = [latitude, longitude]

# #2. Assign the weights variable to some values
# temperatures = # an array of length equal to the locations array length

# #3. assign the figure variables ot the gmaps.figure() attribute
# fig = gmaps.figure()

# #4 assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# #5. add the heatmap later
# fig.add_layer(heatmap_layer)

# #6. Call the figure to plot the data
# fig

In [6]:
# # #add locations array and values for max temp from the city_data_df for steps 1 & 2
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))
# Assign the figure variable.
#add the geographic center of the earht at lat 30.0 N and long 31.0 E and add zoom level so only 1 map is shown
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# # Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=temps)
    #could also do with list comprehension w/
#adjust dissipation from default true to false (whether the radius of influence changes when you zoom in/out, does if true, doesnt change if false)
#add max_intensity to make each measurement have a better gradient variance
#add point_radius to make each measurement radius longer
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False, max_intensity=120, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#create a % humidity heat map
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity = 150, point_radius=2.5)

fig.add_layer(heat_layer)

#call the fig to plot
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
#create a heatmap of % cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloud = city_data_df["Cloudiness"]
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = cloud, dissipating=False, max_intensity = 250, point_radius = 3)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#create wind speed heatmap
location = city_data_df[["Lat", "Lng"]]
winds = city_data_df["Wind Speed"]
fig = gmaps.figure(center= (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(location, weights=winds, dissipating=False, max_intensity=200, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
#create input for desired min and max temps as floats
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [17]:
#filter the city_data_df using loc[] method and logical operators to create a new df with the customers criteria
#if you get any null values add dropna() at the end of filtering statement
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Itoman,JP,2022-04-13 18:06:33,26.1247,127.6694,73.42,78,11,5.75
3,3,East London,ZA,2022-04-13 18:06:34,-33.0153,27.9116,70.90,82,1,3.74
4,4,Atuona,PF,2022-04-13 18:06:34,-9.8000,-139.0333,78.40,80,44,18.21
5,5,Kanlagay,PH,2022-04-13 18:06:35,5.8757,121.2915,79.39,84,82,4.92
6,6,Vao,NC,2022-04-13 18:06:35,-22.6667,167.4833,75.02,68,4,1.05

In [18]:
#det if there are any null values
preferred_cities_df.count()

City_ID       230
City          230
Country       230
Date          230
Lat           230
Lng           230
Max Temp      230
Humidity      230
Cloudiness    230
Wind Speed    230
dtype: int64

In [19]:
#get travel destination hotels, make a copy of the preferred cities df since it will change with each search
#create a df called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"]=""
hotel_df.head()

          City Country  Max Temp      Lat       Lng Hotel Name
1       Itoman      JP     73.42  26.1247  127.6694
3  East London      ZA     70.90 -33.0153   27.9116
4       Atuona      PF     78.40  -9.8000 -139.0333
5     Kanlagay      PH     79.39   5.8757  121.2915
6          Vao      NC     75.02 -22.6667  167.4833

In [20]:
#retrieve hotels from a nearby search w/ criteria from the api page 
#https://developers.google.com/maps/documentation/places/web-service/search#PlaceSearchRequests%0D%0A
#need to add Api key as key=, location= as lat,long, radius=, 
#radius for search up to 50k meters abt 31 miles, and type of place as type=lodging since thats included but hotel is not

#Documentation on python requests:https://requests.kennethreitz.org/en/master/
#can pass parameters as a dictionary of strings using the params arguement
    #paramters = {'key1': 'value1', 'key2': 'value 2'}
    #requests.get('base URL', params=parameters)

In [21]:
#set the paramters to search for a hotel
params = {
    "radius": 15000,
    "type": "lodging",
    "key": g_key
}

#iterate through the hotel_df
    #use the iterrows() function as for index, row in df.iterrows()
    #need to provide the index
#iterate through the df

# for index, row in hotel_df.iterrows():
#     #get the lat and long
#     lat = row["Lat"]
#     lng = row["Lng"]
    
#     #add the lat and long to location key for the params dict
#     params["location"] = f"{lat},{lng}"
    
#     #use the search term lodging and out lat and long
#     base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
#     #make the request and get the JSON data from the search
#     hotels = requests.get(base_url, params = params).json()
    
#     #grab the 1st hotel from the results and store the name
#         #get an index out of range error so need to try except to fix that error
#     try:
#         hotel_df.loc[index, "Hotel Name"] = hotels['results'][0]['name']
#     except (IndexError):
#         print("Hotel not found... skipping.")

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Itoman,JP,73.42,26.1247,127.6694,Southern Beach Hotel & Resort Okinawa
3,East London,ZA,70.90,-33.0153,27.9116,Tu Casa
4,Atuona,PF,78.40,-9.8000,-139.0333,Villa Enata
5,Kanlagay,PH,79.39,5.8757,121.2915,Sapang Beach
6,Vao,NC,75.02,-22.6667,167.4833,Le Méridien Ile des Pins
12,Galle,LK,80.17,6.0367,80.2170,Amangalla
13,Chuy,UY,71.80,-33.6971,-53.4616,Nuevo Hotel Plaza
14,Birjand,IR,70.99,32.8663,59.2211,Birjand Tourist Hotel
15,Manoel Urbano,BR,84.15,-8.8389,-69.2597,Baixada Beira Rio
16,Puerto Ayora,EC,80.56,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [40]:
#Add a heatmap of vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
heat_layer = gmaps.heatmap_layer(locations, weights = max_temp, dissipating=False, max_intensity = 400, point_radius=5)
#add markers for each city w/ marker layer
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
#add markers to fig
fig.add_layer(marker_layer)
#call the fig to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
#HTML coding to add in pop-up marker for each city with hotel and city name, country, and max temp
# to make the box assign a variable to 3 quotes """" to assign to multiline string
# text inside is HTML -- defined by the opening and closing of angular brackets<> 
    #the opening <> has some text inside like:
#         <dl> tag - is a description list (layer 1)
#         <dt> tag - a term or name in a dl that is nested under the dl tag (layer 2)
#         <dd> tag - used to define the term or name or <dt> tag (layer 3)
#the closing angular bracket is preceded by a forward-slash / 
#text inside an angular brackets are celled tags


3