In [5]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Import API key
from config import g_key

In [8]:
# Import cities file into the cities_pd DataFrame
cities = pd.read_csv("Resources/Cities.csv")
cities.head()

            City         State
0  New York City      New York
1    Los Angeles    California
2        Chicago      Illinois
3        Houston         Texas
4   Philadelphia  Pennsylvania

In [11]:
# Add columns for lat, lng, airport name, airport address, airport rating.
# Hint: Be sure to specify "" as the initial value for each column.

for d in ['lat', 'lng', 'airport name', 'arport address', 'airport rating']:
    cities[d] = None

cities.head()

,City,State,lat,lng,airport name,arport address,airport rating
0,New York City,New York,None,None,None,None,None
1,Los Angeles,California,None,None,None,None,None
2,Chicago,Illinois,None,None,None,None,None
3,Houston,Texas,None,None,None,None,None
4,Philadelphia,Pennsylvania,None,None,None,None,None

In [19]:
# Loop through the cities_pd and get the lat/long for each city
# Hint: `requests.get(target_url).json()`
# Hint: `for index, row in cities_pd.iterrows():`
# Hint: `cities_pd.loc`

url = "https://maps.googleapis.com/maps/api/geocode/"
key = g_key
def get_place_info (location,key):
    #get the base url 
    url = "https://maps.googleapis.com/maps/api/geocode/"
    
    #parse the parameters
    params = {
        "address":location,
        "key": key
    }
    
    resp = requests.get(url, params=params)
    
#     if resp.response.code == 200:
    lat = resp.json()['results'][0]['geometry']['location']['lat']
    lng = resp.json()['results'][0]['geometry']['location']['lng']
    return lat,lng
for index, row in cities.iterrows():
#     print(f"{row['City']}, {row['State']}")
    try:
        lat, lng = get_place_info(f"{row['City']}, {row['State']}", gkey)
    except Exception as e:
        print(e)
        
    cities.loc[index, 'lat']  = lat
    cities.loc[index,'lng'] = lng
    
cities.head()

name 'gkey' is not defined

NameError: name 'lat' is not defined

In [ ]:
# Use the lat/lng we recovered to identify airports
# Hint: Code is similar to above block (i.e. you will need to use cities_pd.iterrows() again)
# Hint: Use the keyword search for "international+airport"
# Hint: Use a try-except to handle airports that are missing ratings

In [ ]:
# Save Data to csv


# Visualize to confirm airport data appears