In [13]:
import json
import requests
import pandas as pd

In [22]:
# List of character
search_characters = ['R2-D2', 'Darth Vader', 'Godzilla', 'Luke Skywalker', 'Frodo', \
              'Boba Fett', 'Iron Man', 'Jon Snow', 'Han Solo']

# Set url for API
url = 'https://swapi.dev/api/people/?search='

# Set empty lists to hold character's height and mass
height = []
mass = []
character = []
# Loop through each character and make API request

    # Create search query, make request and store in json
for characters in search_characters:
    
    query_string = url + characters
    
#     print(url + characters)

    resp = requests.get(query_string).json()
    
    # Try to grab the height and mass of characters if they are available in the Star Wars API
    try:
        height.append(resp['results'][0]['height'])
        mass.append(resp['results'][0]['mass'])

    except IndexError:
        print(f"{characters} doesn't exist in starwars universe.")
    finally:
        #if anything happens in try or anything happens in except and no errors are thrown
        #then print something so you know it worked
        print('-')
    
    # Handle exceptions for a character that is not available in the Star Wars API

-
-
Godzilla doesn't exist in starwars universe.
-
-
Frodo doesn't exist in starwars universe.
-
-
Iron Man doesn't exist in starwars universe.
-
Jon Snow doesn't exist in starwars universe.
-
-

In [23]:
# Create DataFrame
data_dict = {
    "name" : characters,
    'height': height,
    'weight': mass,
}
pd.DataFrame(data_dict)

       name height weight
0  Han Solo     96     32
1  Han Solo    202    136
2  Han Solo    172     77
3  Han Solo    183   78.2
4  Han Solo    180     80